html, body {
	height: 100%;
}

.box-flex {
	display: flex;
  	align-items: center;
 	justify-content: center;
	flex-direction: column;
}

.box-flex div {
	width:300px;
}

td {
	padding: 50px;
}

#weather_info_list .row {

}

body {
	background: linear-gradient(to top left, powderblue, pink);
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

